@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Share Tech", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}

header {
  font-family: "Share Tech";
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.712);
}

.logo {
  font-family: "VT323";
  font-size: 5rem;
}

.description {
  font-size: 1rem;
}

.not-found {
  margin: 1rem 0;
  color: #ff0101;
  font-size: 7rem;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

.go-home-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 1.5rem;
}

.arrow {
  margin-right: 1rem;
  transition: transform 0.2s ease-in-out;
}

.go-home-link:hover .arrow {
  transform: translateX(10px);
}
